body {
	background: #6B4E30;
	background-image: url("../images/background-top.jpg");
	background-repeat: repeat-x;
	
	font: 1em Helvetica, sans-serif;
	line-height:	1.5em;
	
	width: 610px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	
	text-align: justify;
}

/* Profile block
	- contains an image and a list describing the person in the image
*/
div.profile {
	padding: 15px 15px;
	padding-bottom: 0px;
	
	background: #4E3720;
	height:	160px;
	
	font-size: 0.85em;
	
	margin: 10px 0px;
	text-align: left;
}

div.profile h3 {
	margin-bottom:	5px;
	margin-top:	0px;
}

div.profile img {
	border:	3px solid #EBE2BF;
	float: left;
}

div.profile ul {
	list-style-type: none;
}
/* end profile block */

img {
	margin:	5px;
}

body.small {
	background-image: url("../images/background-top-small.jpg");
}

#header {
	height: 308px;
	background-color: #8C663F;
	background-image: url("../images/banner.jpg");
}

#header-small {
	height: 133px;
	background-color: #8C663F;
	background-image: url("../images/banner-small.jpg");
}

/* Navigation Bar 
	Implemented as a series of images
*/
#nav img {
	padding-left:	40px;
	padding-right:	40px;
	margin:	0;
}

#nav a img { border: none; }
/* End Navigation Bar */


/* Arrow */
h2.arrow {
	background-image: url("../images/arrow-left.jpg");
	background-color: #4E3720;
	background-repeat: no-repeat;
	
	padding-top: 10px;
/*	padding-bottom: 9px;*/
	
	padding-left:	50px;
	padding-right:	20px;
	
	height: 30px;
	margin-top:	20px;
	font-size:	16px;
	
}

h2.arrow a { 
	text-decoration: none; 
	color: #EBE2BF; 
}
h2.arrow a:hover { color:	#A5D8F0; }
/* end arrow */


#content {
	color: #EBE2BF;
}

h1 {
	line-height: 1em;
	font-size:	1.5em;
	
	margin: 25px 0px 10px 0px;
	
	padding-bottom:	1px;
}

p { margin:	10px 0px 0px 0px; }
em { 
	font-weight: bold; 
	font-style: normal;
}

a { color:#A5D8F0; }
a:visited { color: #A5D8F0; }

ul {
	margin:	0px;
}

/* Footer */
#footer {
	background-color: #A5D8F0;
	color: black;
	font-size:	0.8em;
	font-weight:	bold;
	padding:	30px 30px;
	margin-top: 60px;
	
	text-align: center;
}

#footer a { color: #6B4E30; }
/* end footer */

.no-margin { margin: 0; }

.force-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}